---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const { title, description, keywords, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
<head>
<title>{title}</title>
<meta property="og:title" content={title} />
<meta content={description} property="og:description" name="Description" />
<meta content={`${keywords}, timestable, timestable.ru, таблица умножения, онлайн`}   name="Keywords" />
<meta property="og:url" content={`https://timestable.ru/${url}`} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/style.css?13"/>
<link rel="apple-touch-icon" sizes="180x180" href="/images/0/ogimg/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/images/0/ogimg/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/0/ogimg/favicon-16x16.png" />
<meta name="yandex-tableau-widget" content="logo=/images/0/ogimg/ya-logo.png, color=#ffffff" />
<meta property="og:site_name" content="i❤️kg" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/images/0/ogimg/ogimage-1200x630.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<script type="text/javascript" src="/js/jquery.js"></script>
<link rel="canonical" href={`https://timestable.ru/${url}`} />
<meta name="yandex-verification" content="573bbd31acf2c6e2" />
</head>

<body itemscope itemtype="http://schema.org/Article">
<Header/>

<slot />

<Footer />
</body>
</html>